@import '../../global.scss';

.container {
    position: relative;
    margin-top: 70px;
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-dark-blue;

    img {
        padding-left: 165px;
        height: 27px;
    }

    .getStarted {
        @include BodyM;
        margin-right: 165px;
        padding: 14px 32px;
        border-radius: 28px;
        background: $gradient-pink-to-blue;
        color: $color-white;
        font-weight: 700;

        &:hover {
            cursor: pointer;
            background: $gradient-light-pink-to-blue;
        }
    }
}

@media all and (max-width:1124px) {
    .container {
        img {
            padding-left: 80px;
            height: 35px;
        }

        .getStarted {
            @include BodyS;
            margin-right: 80px;
            padding: 10px 24px;
        }
    }
}

@media all and (max-width:784px) {
    .container {
        img {
            padding-left: 16px;
        }

        .getStarted {
            margin-right: 16px;
        }
    }
}